@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
