@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
