@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
html {
  overflow-x: hidden;
}
body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(https://img.freepik.com/free-vector/japanese-wave-line-art-landscape-background-abstract-mountain-banner-design-pattern-vector-illustration-geometric-poster_90220-715.jpg?w=1380&t=st%3D1658224713~exp%3D1658225313~hmac%3D75f3656f5cd711dbb2a3da197cc5e94c2367e420e78bf233a985f06fa0c4d908&fbclid=IwAR1w7pZ93EPwnvC-jX6KErRv5BIoAbfkAgKS6CeXIUv3vgusFhQPedc1gx0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.github-logo {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 32px;
  height: 32px;
  background-image: url(../GitHub-Mark-64px.png);
  background-size: contain;
}

.favorite {
  color: red;
}
.myWish {
  position: relative;
  transition: all 0.3s;

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.myWish.container {
}

.star {
  position: absolute;
  top: -1em;
  right: -1em;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.star:hover {
  background-color: rgb(255, 255, 0);
}
.lib {
  top: 0;
  right: -2em;
}
.full {
  background-color: rgb(255, 255, 0);
}

.wish-item {
  position: relative;
}
.wish-text {
  font-style: italic;
}

.select {
  cursor: pointer;
  position: absolute;
  height: 35px;
  left: 70%;
  min-width: 45px;
}
